In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
col = ['x1' , 'x2' , 'y']
df = pd.read_csv('Student-University(For Logistic Regression Program).csv' , names=col)
df.head()

          x1         x2  y
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [ ]:
x = df.iloc[:,:-1]
y = df.iloc[: , -1]

In [ ]:
print(df.isnull().sum())

x1    0
x2    0
y     0
dtype: int64

In [ ]:
# Normalize numerical columns
df[['x1', 'x2']] = (df[['x1', 'x2']] - df[['x1', 'x2']].mean()) / df[['x1', 'x2']].std()

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train , X_test , y_train,y_test = train_test_split(x,y)

In [ ]:
model = LogisticRegression()
model.fit(X_train, y_train)

predictions = model.predict(X_test)

In [ ]:
# Evaluate the model
accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

Accuracy: 0.88